* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* ---------------home------------------ */

.navbar {
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #095fba;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  bottom: 20px;
  position: fixed;
  z-index: 1000%;
}
.navbar-picture {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.nav-ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}
.nav-ul li {
  padding: 0 10px;
}

.nav-ul li a {
  margin-right: 10px;
  color: #ffffff;
}

.navBarActive {
  background-color: #8bc7e7;
  transition: all 0.5s;
}
/* ----------------burger bar------------ */

.burger-bar {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #6fb2d6;
  transition: all 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line:nth-child(1) {
  top: 30%;
}

.line:nth-child(3) {
  top: 70%;
}

.activeBurgerbar .line1 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.activeBurgerbar .line2 {
  display: none;
}

.activeBurgerbar .line3 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.toggleUlNavigation {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8bc7e7;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-ul {
    display: none;
  }
  .burger-bar {
    display: block;
  }
}

/* --------------------home slider---------------------------- */

/* .home-banner{
     position: absolute;
    width: 400.12px;
    height: 394.31px;
    left: 27.38px;
    top: 182.97px; 
    display: flex;
    position: relative;
    top: 150px;
    bottom: 150px;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 14px;
color: #143450;
  } */

/* .dot-parent {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 50%;
 } */

/* .dot-child {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #095fba;
  margin: 5px;
} */

/* .dot-child.activeDot {
  border: 5px solid white;
} */

/* 
-----------------------splide------------------------------ */

/* .splide__slide img {
    width: 80%;
    height: 50vh;
    object-fit: cover;
   
  } */

/* .splide__slide {
  img {
    display: block;
    width: 100%;
    border-radius: 8px;
    transition: transform 400ms;
    transform: scale(0.9);
    transform-origin: center center;
  }
}

.splide__slide.is-active {
  img {
    transform: scale(1);
  }
}

.splide .splide__arrow {
  top: 0;
  bottom: 0;
  height: 100%;
  transform: none;
  border-radius: unset;
  width: 50px;
  opacity: 0.9;

  svg {
    filter: invert(1);
    width: 24px;
    height: 24px;
  }
}
.splide__arrow.splide__arrow--prev {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(17, 15, 86, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.splide__arrow.splide__arrow--next {
  right: 0;
  background: linear-gradient(
    270deg,
    rgba(17, 15, 86, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
} */

/* body {
    margin: 0;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: Arial;
  }
  a {
    color: #fff;
    padding: 4px 8px;
  }
  section {
    max-width: 700px;
    margin: 0 auto;
  }
  .left {
    text-align: left;
  } */

/* -----------------apointment------------------- */

.appointment-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  height: 500px;
  /* left: 50%; */
  top: 200px;
  left: 150px;
  background-color: #f1f1f1;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.apointment-form {
  width: 50%;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  background-color: rgb(203, 213, 223);
  padding: 20px;
  margin: 20px auto;
}

.inputfield {
  height: 30px;
  width: 250px;
}

.error-text {
  color: red;
}
.button {
  background-color: #095fba;
  width: 150px;
}

/* ------------------------------------------cookies------------------------- */

/* .cookies-infobar {
  background: rgba(43, 100, 180, 0.9);
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
}
cookies-infobar.cookies-infobar_accepted {
  display: none;
}

.cookies-infobar_wrapper {
  margin: 10px;
}

.cookies-infobar a {
  color: inherit;
}

.cookies-infobar_btn {
  display: inline-block;
  padding: 5px 10px;
  background: #313535;
  border-radius: 3px;
  color: #fff;
  font-size: 1.2em;
} */

.modalbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;

  width: 100%;
  max-width: 450px;
  text-align: center;
  padding: 80px 60px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
}

.cookies {
  width: 200px;
  margin-bottom: 25px;
}
.modalbox .button {
  background: #8bc7e7;
  color: #ffffff;
  border-radius: 4px;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  border: 0;
  outline: 0;
  margin-top: 100px;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  display: none;
}
.closeIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

/* ------------------services------------------- */

.service-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;

  /* position: absolute; */
  /* width: 1745px;
height: 258px;
left: 87.52px;
top: 204.57px; */
}

.banner-image {
  background-image: url(../image/service\ Banner.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 500px;
  top: 0px;
}

.services {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  margin: 0 auto;
  margin-top: 20px;
  bottom: 30px;
  gap: 20px;
  padding: 10px;
}

.card {
  width: 200px;
  height: 304.9px;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: space-between; */
  align-items: center;
  justify-items: center;
  /* padding: 10px; */
  padding-top: 20px;
  /* border:5px slod #095fba;
  border-color: #095fba; */
}
.card-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.servicePicture {
  width: 100%;
  height: 400px;
  margin-top: 50px;
}
.workinghours {
  position: absolute;
  width: 328px;
  height: 220px;
  background: rgba(255, 255, 255, 0.86);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 46px 31px;
  gap: 10px;
}

/* .servicePicture{
    width: 100%;
    left: 20px;
} */

/* ---------------contact us--------------------- */

.contactusbanner {
  background-image: url(../image/Banner\ contact\ us.png);
  background-position: center;
  height: 258px;
  margin-top: 80px;
}

/* .contactus-container{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 50px;

position: absolute;
width: 1200.02px;
height: 447.5px;
left: calc(50% - 1200.02px/2 + 0.01px);
top: 612.75px;
} */

.contactus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  width: 80%;
  height: 300px;
  position: relative;
  /* width: 1200.02px;
height: 447.5px; */
  /* left: calc(50% - 1200.02px/2 + 0.01px); */
  /* background-color: #f1f1f1; */
  background-color: #6fb2d6;
  padding: 60px;
  margin: 30px auto;
  padding: 30px;
}

.contact-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  gap: 100px;
  bottom: 40px;
  cursor: pointer;
}

/* ---------------------about us----------------------------- */
.aboutuscontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 100px;
}

.aboutusbanner {
  background-image: url(../image/Photo\ homepage\ main.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 761.04px;
}
.cardabout-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 20px;
  margin-top: 20px;
}
.aboutus.p {
  /* left: 50%;
    top: 50%; */
  width: 80%;
}
.card-about {
  width: 300px;
  height: 300px;
}

.hide {
  display: none;
}

/* -------------------filter---------------------------- */
.filter-section {
  width: 300px;
  height: 400px;
  right: 150px;
  top: 150px;
  border: 4px solid #095fba;
  border-radius: 30px;
  position: fixed;
  padding: 30px;
}
.filter-container h3 {
  color: #095fba;
  margin: 20px auto;
}
.filter-container i {
  color: #095fba;
}

/* ------------------footer--------------------- */

footer {
  padding: 50px 0;
  background-color: #fff;
  color: #095fba;
  margin: 0 auto;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

/* ------------------------accordion----------------------------- */

.card-content {
  display: none;
}
/* .card-content .activeCard {
  display: block;
} */

/* .card .card-title .activeCard .fa-plus {
  display: none;
} */

/* .card .card-title .activeCard.fa-minus {
  display: block;
} */
